<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="llmagic.ZPM">
    <Module>
      <Name>llmagic</Name>
      <Version>1.0.3</Version>
      <Description>This is a starter set of Interop components to allow self hosting of Ollama models</Description>
      <Keywords>ai ollama python </Keywords>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
    </Module>
  </Document>
</Export>